body {
    background-image: url('../img/dark-theme.jpg'); /* Replace 'background-image.jpg' with the path to your background image */
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-attachment: fixed; /* Fix the background image in place */

  }
